body {
    text-align: center;
}

section {
    margin: 2em 0;
}

h1, h2 {
    margin: $picnic-padding*2 0;
    padding: 0;
}

p {
    margin: $picnic-padding 0;
}

.select select {
    background: $picnic-white;
    min-width: 10em;
}

tr:nth-child(even) {
    background: inherit;
}

tr:nth-child(odd) {
    background: $picnic-soft-dark-overlay;
}

th {
    font-weight: bold;
}

th,
td {
    padding: $picnic-padding $picnic-padding*2;
}

td input {
    margin: 0;
}

body > footer {
    background: none;
    color: inherit;
}

.center {
    margin: 0 auto;
}

.cover {
    max-width: 100%;
    overflow: auto;
}

.mini {
    font-size: .8em;
}

.hint {
    border-bottom: 1px dotted;
    cursor: help;
}

.act {
    border-bottom: 1px dashed;
    cursor: pointer;
}
