body {
    text-align: center;
}

section {
    margin: 2em 0;
}

h1, h2 {
    margin: .6em 0;
    padding: 0;
}

p {
    margin: .4em 0;
}

input,
.select select {
    background: #fff;
}

tr:nth-child(even) {
    background: inherit;
}

tr:nth-child(odd) {
    background: rgba(0, 0, 0, .05);
}

th {
    font-weight: bold;
}

th,
td {
    padding: .3em .6em;
}

body > footer {
    background: none;
    color: inherit;
}

.center {
    margin: 0 auto;
}

.cover {
    max-width: 100%;
    overflow: auto;
}

.mini {
    font-size: .8em;
}

.hint {
    border-bottom: 1px dotted;
    cursor: help;
}

.act {
    border-bottom: 1px dashed;
    cursor: pointer;
}
